<?xml version="1.0"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Brickficiency.Properties.Settings.bfdbConnectionString" connectionString="Data Source=|DataDirectory|\bfdb.sdf" providerName="Microsoft.SqlServerCe.Client.4.0"/>
    </connectionStrings>
    <startup> 
        
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/></startup>
</configuration>
