<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings file="App.user.config"/>
  <system.net>
    <!--<defaultProxy>
      <proxy
        usesystemdefault="false"
        proxyaddress="http://127.0.0.1:8888"
        bypassonlocal="true"
      />
    </defaultProxy>-->
  </system.net>
</configuration>